In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
from scipy import stats
import statsmodels.api as sm

In [2]:
listing_data = pd.read_csv("listings.csv")
listing_data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5121,Rental unit in Brooklyn · ★4.52 · 1 bedroom · ...,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2019-12-02,0.29,2,0,0,NaN
1,2595,Rental unit in New York · ★4.68 · Studio · 1 b...,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240,30,49,2022-06-21,0.30,3,325,1,NaN
2,14991,Rental unit in New York · ★4.93 · 1 bedroom · ...,59023,Bianca,Manhattan,Lower East Side,40.72207,-73.98976,Private room,120,5,22,2023-05-14,0.14,1,268,3,NaN
3,5136,Rental unit in Brooklyn · ★5.0 · 2 bedrooms · ...,7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,276,21,3,2022-08-10,0.03,1,275,1,NaN
4,59709,Rental unit in New York · ★4.77 · 2 bedrooms ·...,186084,Ricardo & Ashlie,Manhattan,Chinatown,40.71780,-73.99320,Entire home/apt,325,7,69,2023-04-28,0.47,1,38,23,NaN

In [14]:
listing_data.shape

(43566, 18)

In [3]:
neighbourhoods_data = pd.read_csv("neighbourhoods.csv")
neighbourhoods_data.head()

  neighbourhood_group neighbourhood
0               Bronx      Allerton
1               Bronx    Baychester
2               Bronx       Belmont
3               Bronx     Bronxdale
4               Bronx   Castle Hill

In [9]:
neighbourhoods_data.shape

(44, 2)

In [4]:
data_conect = pd.concat([listing_data, neighbourhoods_data])
data_conect.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5121.0,Rental unit in Brooklyn · ★4.52 · 1 bedroom · ...,7356.0,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60.0,30.0,50.0,2019-12-02,0.29,2.0,0.0,0.0,NaN
1,2595.0,Rental unit in New York · ★4.68 · Studio · 1 b...,2845.0,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30.0,49.0,2022-06-21,0.30,3.0,325.0,1.0,NaN
2,14991.0,Rental unit in New York · ★4.93 · 1 bedroom · ...,59023.0,Bianca,Manhattan,Lower East Side,40.72207,-73.98976,Private room,120.0,5.0,22.0,2023-05-14,0.14,1.0,268.0,3.0,NaN
3,5136.0,Rental unit in Brooklyn · ★5.0 · 2 bedrooms · ...,7378.0,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,276.0,21.0,3.0,2022-08-10,0.03,1.0,275.0,1.0,NaN
4,59709.0,Rental unit in New York · ★4.77 · 2 bedrooms ·...,186084.0,Ricardo & Ashlie,Manhattan,Chinatown,40.71780,-73.99320,Entire home/apt,325.0,7.0,69.0,2023-04-28,0.47,1.0,38.0,23.0,NaN

In [17]:
data_conect.shape

(43796, 18)

In [6]:
reviw_data = pd.read_csv("reviews.csv")
reviw_data.head()

   listing_id        date
0        5456  2009-03-08
1        5456  2009-03-19
2        5456  2009-03-22
3        5456  2009-04-08
4        5456  2009-04-13

In [19]:
reviw_data.shape

(1148772, 2)

In [ ]:
reviw_data['last_review'] = reviw_data['date'] # قم بتغيير عمود التاريخ ليكون آخر مراجعة لربط الملفين

In [13]:
reviw_data.drop(['date'],axis = 1,inplace =True)
reviw_data.head()

   listing_id last_review
0        5456  2009-03-08
1        5456  2009-03-19
2        5456  2009-03-22
3        5456  2009-04-08
4        5456  2009-04-13

In [14]:
data = pd.concat([data_conect, reviw_data])
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,listing_id
0,5121.0,Rental unit in Brooklyn · ★4.52 · 1 bedroom · ...,7356.0,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60.0,30.0,50.0,2019-12-02,0.29,2.0,0.0,0.0,NaN,NaN
1,2595.0,Rental unit in New York · ★4.68 · Studio · 1 b...,2845.0,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30.0,49.0,2022-06-21,0.30,3.0,325.0,1.0,NaN,NaN
2,14991.0,Rental unit in New York · ★4.93 · 1 bedroom · ...,59023.0,Bianca,Manhattan,Lower East Side,40.72207,-73.98976,Private room,120.0,5.0,22.0,2023-05-14,0.14,1.0,268.0,3.0,NaN,NaN
3,5136.0,Rental unit in Brooklyn · ★5.0 · 2 bedrooms · ...,7378.0,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,276.0,21.0,3.0,2022-08-10,0.03,1.0,275.0,1.0,NaN,NaN
4,59709.0,Rental unit in New York · ★4.77 · 2 bedrooms ·...,186084.0,Ricardo & Ashlie,Manhattan,Chinatown,40.71780,-73.99320,Entire home/apt,325.0,7.0,69.0,2023-04-28,0.47,1.0,38.0,23.0,NaN,NaN

In [15]:
# Clean Data:
data.isna().sum()/(data.shape[0]) * 100

id                                 92.608779
name                               92.608779
host_id                            92.608779
host_name                          92.609627
neighbourhood_group                92.569758
neighbourhood                      92.569758
latitude                           92.608779
longitude                          92.608779
room_type                          92.608779
price                              92.608779
minimum_nights                     92.608779
number_of_reviews                  92.608779
last_review                         1.819727
reviews_per_month                  94.389485
calculated_host_listings_count     92.608779
availability_365                   92.608779
number_of_reviews_ltm              92.608779
license                           100.000000
listing_id                          7.430242
dtype: float64

In [16]:
data.drop(['listing_id',"last_review","license"],axis = 1,inplace =True)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 589429 entries, 0 to 545632
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              43566 non-null  float64
 1   name                            43566 non-null  object
 2   host_id                         43566 non-null  float64
 3   host_name                       43561 non-null  object
 4   neighbourhood_group             43796 non-null  object
 5   neighbourhood                   43796 non-null  object
 6   latitude                        43566 non-null  float64
 7   longitude                       43566 non-null  float64
 8   room_type                       43566 non-null  object
 9   price                           43566 non-null  float64
 10  minimum_nights                  43566 non-null  float64
 11  number_of_reviews               43566 non-null  float64
 12  reviews_per_month               33070 non-null  float64
 13  calculated_host_listings_count  43566 non-null  float64
 14  availability_365                43566 non-null  float64
 15  number_of_reviews_ltm           43566 non-null  float64
dtypes: float64(11), object(5)
memory usage: 76.4+ MB

In [18]:
data.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'Bronx', 'Queens', 'Staten Island', nan],
      dtype=object)

In [19]:
data.host_name.unique()

array(['Garon', 'Jennifer', 'Bianca', ..., 'Einab', 'Quick Stay',
       'Sohaib'], dtype=object)

In [20]:
columns = ['neighbourhood_group','neighbourhood','room_type','host_name']
for column in data[columns]:
    if data[column].dtype == 'object':
        print(data[column].unique())
    else:
        print("No object")

['Brooklyn' 'Manhattan' 'Bronx' 'Queens' 'Staten Island' nan]
['Bedford-Stuyvesant' 'Midtown' 'Lower East Side' 'Sunset Park'
 'Chinatown' 'Upper West Side' 'South Slope' 'Tribeca' 'Williamsburg'
 'Chelsea' 'East Village' 'Greenwich Village' 'Clinton Hill' 'East Harlem'
 'Harlem' 'Washington Heights' 'Upper East Side' 'Fort Greene'
 'Greenpoint' 'Clason Point' 'Kips Bay' 'Eastchester' 'Flatbush'
 "Hell's Kitchen" 'Crown Heights' 'Carroll Gardens' 'West Village'
 'Nolita' 'Park Slope' 'Long Island City' 'East Flatbush' 'Gowanus'
 'Forest Hills' 'Murray Hill' 'Prospect Heights' 'Astoria' 'Boerum Hill'
 'Sunnyside' 'Kingsbridge' 'St. George' 'Ridgewood' 'Mott Haven'
 'Morningside Heights' 'Bushwick' 'Ditmars Steinway' 'Middle Village'
 'Jamaica' 'Windsor Terrace' 'University Heights' 'Brooklyn Heights'
 'Flatiron District' 'Rockaway Beach' 'Allerton' 'Emerson Hill'
 'East New York' 'Theater District' 'Fort Hamilton' 'Bensonhurst'
 'Rego Park' 'Wakefield' 'Kensington' 'Stuyvesant Town' 'Woodside'
 'Shore Acres' 'Sheepshead Bay' 'Richmond Hill' 'Co-op City'
 'Prospect-Lefferts Gardens' 'Little Italy' 'Maspeth' 'Gramercy' 'SoHo'
 'Spuyten Duyvil' 'Briarwood' 'Elmhurst' 'Brighton Beach' 'Bayside'
 'Inwood' 'Jackson Heights' 'Battery Park City' 'Tottenville'
 'Two Bridges' 'Tompkinsville' 'NoHo' 'Cobble Hill' 'Gravesend'
 'New Springville' 'Columbia St' 'Mariners Harbor' 'East Elmhurst'
 'Concord' 'Flushing' 'Downtown Brooklyn' 'Melrose' 'College Point'
 'DUMBO' 'City Island' 'Vinegar Hill' 'Bay Ridge' 'Red Hook' 'Glendale'
 'Longwood' 'Financial District' 'Norwood' 'Concourse' 'Canarsie'
 'Port Morris' 'Arverne' 'Williamsbridge' 'Soundview' 'Woodhaven'
 'Parkchester' 'Bronxdale' 'Sea Gate' 'Ozone Park' 'Bay Terrace' 'Fordham'
 'Flatlands' 'Clifton' 'Borough Park' 'Claremont Village'
 'Concourse Village' 'Cypress Hills' 'Huguenot' 'Mount Hope' 'Midwood'
 'Navy Yard' 'Civic Center' 'Brownsville' 'Fieldston' 'Unionport'
 'Roosevelt Island' 'Lighthouse Hill' 'Kew Gardens Hills' 'Kew Gardens'
 'Bellerose' 'Fresh Meadows' 'Morris Park' 'South Ozone Park'
 'East Morrisania' 'Springfield Gardens' 'Tremont' 'Corona'
 'West Brighton' 'Jamaica Estates' 'Manhattan Beach' 'Marble Hill'
 'Belmont' 'Castleton Corners' 'Laurelton' 'Hunts Point' 'Randall Manor'
 'Great Kills' 'Pelham Bay' 'Howard Beach' 'Silver Lake' 'Riverdale'
 'Queens Village' 'Morrisania' 'Grymes Hill' 'Holliswood' 'Morris Heights'
 'St. Albans' 'Edgemere' 'New Brighton' 'Pelham Gardens' 'Baychester'
 'Cambria Heights' 'Bergen Beach' 'Stapleton' 'Richmondtown' 'Olinville'
 'Dyker Heights' 'Coney Island' 'Rosedale' 'Howland Hook' 'Highbridge'
 'South Beach' 'Bath Beach' 'Midland Beach' 'Oakwood' 'Arrochar' 'Hollis'
 'Mill Basin' 'Edenwald' 'Whitestone' 'Throgs Neck' 'Mount Eden'
 'Westchester Square' 'Fort Wadsworth' 'Van Nest' 'Woodlawn' 'Rosebank'
 'New Dorp' 'Grant City' 'Port Richmond' 'Far Rockaway' 'Neponsit'
 'Country Club' 'Bayswater' 'Willowbrook' 'Douglaston' 'New Dorp Beach'
 'Schuylerville' 'West Farms' 'Little Neck' 'Arden Heights'
 'Jamaica Hills' "Prince's Bay" 'Eltingville' 'Rossville'
 'North Riverdale' "Bull's Head" 'Castle Hill' 'Belle Harbor'
 'Westerleigh' 'Chelsea, Staten Island' 'Gerritsen Beach' 'Breezy Point'
 'Todt Hill' 'Dongan Hills' 'Graniteville' 'Woodrow' 'Glen Oaks'
 'Hollis Hills' 'Bay Terrace, Staten Island' 'Bloomfield' 'Charleston'
 'Pleasant Plains' 'Port Ivory' nan]
['Private room' 'Entire home/apt' 'Hotel room' 'Shared room' nan]
['Garon' 'Jennifer' 'Bianca' ... 'Einab' 'Quick Stay' 'Sohaib']

In [ ]:
summary_stats = data.describe()
print(summary_stats)

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(data['price'], bins=30, kde=True)
plt.title('Price Distribution')
plt.xlabel('Price')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(x='neighbourhood_group', y='price', data=data)
plt.title('Price vs. Neighbourhood Group')
plt.xlabel('Neighbourhood Group')
plt.ylabel('Price')
plt.show()

In [ ]:
hosts = data['host_name'].value_counts()
print(hosts.nlargest(10))

In [ ]:
fig = px.box(data, x='room_type', y='price')
fig.show()

In [ ]:
avg_prices = data.groupby('room_type')['price'].mean().reset_index()
fig = px.bar(avg_prices, x='room_type', y='price', 
             title='Average Price per Room Type')
fig.show()

In [ ]:
X = data[['availability_365', 'minimum_nights']]
X = sm.add_constant(X)  # Add constant term for intercept
y = data['price']
invalid_rows = X[np.isinf(X) | np.isnan(X)]
print(invalid_rows)
valid_indices = ~(np.any(np.isnan(X), axis=1) | np.any(np.isinf(X), axis=1))
X = X[valid_indices]
y = y[valid_indices]
model = sm.OLS(y, X).fit()
print(model.summary())

In [ ]:
fig = px.pie(data, values='price', 
             names='neighbourhood_group',  
             title='Listings Price by Neighbourhood Group')

fig.update_traces(hovertemplate='%{label}: <br>$%{value:,.0f}') 
fig.show()

In [ ]:
fig = px.pie(data, values='number_of_reviews', 
             names='room_type',
             title='Number of Reviews by Room Type')

fig.update_traces(hovertemplate='%{label}: <br>%{value:,}')
fig.show()

In [ ]:
# Calculate correlation matrix 
numeric_data = data.select_dtypes(include=['float64', 'int64'])
corr = numeric_data.corr()

# Create heatmap
fig = px.imshow(corr)

# Customize heatmap appearance
fig.update_xaxes(side="top")
fig.update_layout(
    title='Correlation Heatmap',
    width=700, 
    height=700,
    yaxis_title=None, 
    xaxis_title=None
)

# Show heatmap
fig.show()

In [ ]:
numeric_data = data.select_dtypes(include=['float64', 'int64'])
corr = numeric_data.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(corr, annot=True, cmap='coolwarm', center=0)
plt.title('Correlation Matrix Heatmap')
plt.show()
corr

In [ ]:
Null hypothesis: There is no relationship between reviews per month and listing price.

Alternative hypothesis: Listings with more reviews per month have higher prices.

In [ ]:
fig = px.histogram(data, x="minimum_nights")
fig.show()

In [ ]:
fig = px.box(data, y="minimum_nights", color="neighbourhood")
fig.show()

In [ ]:
fig = px.scatter(data, x="minimum_nights", y="price")
fig.show()

In [ ]:
fig = px.violin(data, y="minimum_nights", color="neighbourhood", box=True)
fig.show()

In [ ]:
sns.pairplot(data, diag_kind='kde')
plt.show()

In [36]:
from pandas_profiling import ProfileReport

/tmp/ipykernel_21838/2274191625.py:1: DeprecationWarning:

`import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.

In [ ]:
ProfileReport(data)